
# Godot-specific ignores
.import/
export.cfg
export_presets.cfg

# Mono-specific ignores
.mono/
.godot/imported/
.godot/shader_cache/

.godot/editor/filesystem_cache8

.godot/editor/project_metadata.cfg

.godot/uid_cache.bin
